<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> coursehighlights}}
			{{> freeAccessBanner}}
			{{> coursecontents}}
			<section style="">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-4 col-sm-6">
							<div class="pricing-table pt-1 text-center emphasis">
								<h5 class="uppercase">
									Regular Batch
								</h5>
								<div><span class="price">₹20,000</span></div>
								<!-- <span class="price">₹15,000</span> -->
								<p class="lead">(20-22 lectures)</p>
								<a class="btn btn-white btn-lg" href="#register">Enroll Now</a>
								<p>
									<a href="/contactus">Contact Us</a>
									<br>Call(Toll-free): 1800-2744-504
								</p>
							</div>
						</div>
					</div>

				</div>
			</section>
			{{> courseschedule}}
			<section>
				<a id="register"></a>
				<div class="text-center">
					<h3>REGISTER NOW</h3>
				</div>
				<div class="container">
					<div class="course-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="wide-tab active" id="tab-delhi"><a href="#delhi" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Pitampura</a></li>
							<li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Noida</a></li>
							{{!-- <li role="presentation" class="wide-tab" id="tab-dwarka"><a href="#dwarka" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Dwarka</a></li> --}}
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="delhi">
								<div class="container widget-container" data-widget-id="{{frame-id-pitampura-lp}}">
									<iframe class="payment-widget" {{#if frame-id-pitampura-lp}}id="{{frame-id-pitampura-lp}}"{{/if}} frameborder="0" src="{{{registerLinkPitampuraLP}}}"></iframe>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="noida">
								<div class="container widget-container" data-widget-id="{{frame-id-noida}}">
									<iframe class="payment-widget" {{#if frame-id-noida}}id="{{frame-id-noida}}"{{/if}} frameborder="0" src="{{{registerLinkNoida}}}"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{{> team team=mentors}}
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
