<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> coursehighlights}}
			{{> freeAccessBanner}}
			{{> coursecontents}}
			{{> courseenroll}}
			{{> courseschedule}}
			<a id="register-advance" class="in-page-link"></a>
			<section>
				<a id="register"></a>
				<div class="text-center">
					<h3>REGISTER NOW</h3></div>
				<div class="container">
					<div class="course-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="wide-tab active" id="tab-Pitanpura"><a href="#pitanpura" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Pitanpura</a></li>
							<li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Noida</a></li>
							<li role="presentation" class="wide-tab" id="tab-dwarka"><a href="#dwarka" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Dwarka</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="pitampura">
								<div class="container widget-container" data-widget-id='{{widget-id-pitampura}}'>
									<iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id={{widget-id-pitampura}}"></iframe>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="noida">
								<div class="container widget-container" data-widget-id='{{widget-id-noida}}'>
									<iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id={{widget-id-noida}}"></iframe>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="dwarka">
								<div class="container widget-container" data-widget-id='{{widget-id-dwarka}}'>
									<iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id={{widget-id-dwarka}}"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
