<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist" style="margin-top: -70px;">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> freeAccessBanner}}

			<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 text-center">
				<h2 class="uppercase color-primary mb40 mb-xs-24">VIDEO TESTIMONIALS</h2>
							<p class="lead mb64">What our previous year student's say</p>
							<div align="center">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/gqy5OaWX4DM?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
						</div>
					</div>

				</div>
        	</section>

			<a id="contents" class="in-page-link"></a>
			<section>
				<div class="container" id="contents">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="uppercase mb64 text-center color-primary">Course Contents</h2>
							<div class="course-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="wide-tab active" id="tab-advance">
										<a href="#java-bundle" aria-controls="profile" role="tab" data-toggle="tab">Java and Web Dev</a>
									</li>
									{{!-- <li role="presentation" class="wide-tab" id="tab-advance">
										<a href="#python-bundle" aria-controls="profile" role="tab" data-toggle="tab">Python and Data Science</a>
									</li> --}}
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="java-bundle">
										<br/><br/>
										<h3 class="uppercase mb64 text-center color-primary"> Stage 1 - Java with DS &amp; Algo</h3>
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Getting Started</h3>
													<hr>
													<ul class="points-list">
														<li>Pseudo code</li>
														<li>Getting started with Java, IDE Installation</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Getting a Hold of Java</h3>
													<hr>
													<ul class="points-list">
														<li>Variables,Loops, Conditional Statements</li>
														<li>Methods, Reference Variables</li>
														<li>Arrays and ArrayLists</li>
														<li>Strings and 2-D Arrays</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Introduction to Advanced Topics</h3>
													<hr>
													<ul class="points-list">
														<li>Recursion-I</li>
														<li>Space Time Complexity Basics</li>
														<li>Stacks and Queue Basics</li>
														<li>Problem Solving</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Recursion &amp; Backtracking</h3>
													<hr />
													<ul class="points-list">
														<li>Recursion</li>
														<li>Back-Tracking</li>
														<li>Space Time Complexity Analysis</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Foundational DS</h3>
													<hr />
													<ul class="points-list">
														<li>Arrays &amp; Bitmasking Vectors</li>
														<li>Stacks Queues Problems</li>
														<li>Linked Lists</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Sorting Searching And Hashing</h3>
													<hr />
													<ul class="points-list">
														<li>Divide &amp; Conquer</li>
														<li>Sorting Algorithms</li>
														<li>Binary Search Variants</li>
														<li>Bitmasking and Hashing</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Advanced Data Structures</h3>
													<hr />
													<ul class="points-list">
														<li>Stacks Queues Linked Lists</li>
														<li>trees &amp; Tries</li>
														<li>Graphs</li>
														<li>Heaps and Priority Queues</li>
														<li>Binary Search Trees</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">DP vs Greedy Techniques</h3>
													<hr />
													<ul class="points-list">
														<li>Greedy Techniques</li>
														<li>Dynamic Programming</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">STL | Interview Problems</h3>
													<hr />
													<ul class="points-list">
														<li>Complete Collection Framework</li>
														<li>Interview problems</li>
													</ul>
												</div>
											</div>
										</div>


										<br/><br/>
										<h3 class="uppercase mb64 text-center color-primary"> Stage 2 - NodeJS Web Development </h3>
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">HTML/CSS</h3>
													<h5 class="lectures">Lectures 1-2</h5>
													<hr>
													<ul class="points-list">
														<li>Table Layouts</li>
														<li>Flex Boxes</li>
														<li>Bootstrap Columns</li>
														<li>Media Queries and Mobile Responsive Design</li>
														<li>Grids</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Javascript</h3>
													<h5 class="lectures">Lecture: 3-10</h5>
													<hr>
													<ul class="points-list">
														<li>ECMAScript 6 Syntax and Standards</li>
														<li>Function Closures and IIFEs</li>
														<li>Classes, Constructors and Prototypes</li>
														<li>Lexical Scopes, Arrow Functions and Variable spreading</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">UNIX AND Git</h3>
													<h5 class="lectures">Lecture 11-12</h5>
													<hr>
													<ul class="points-list">
														<li>Unix and SysAdmin/Devops</li>
														<li>Schema Designing</li>
														<li>Git</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">NODEJS</h3>
													<h5 class="lectures">Lecture 12-16</h5>
													<hr>
													<ul class="points-list">
														<li>NodeJS Modules</li>
														<li>Filesystem API, Events and Streams</li>
														<li>ExpressJS Framework for creating REST APIs</li>
														<li>Handlebars for server side web rendering</li>
														<li>Socket.IO for realtime communication</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Databases</h3>
													<h5 class="lectures">Lectures 17-18</h5>
													<hr>
													<ul class="points-list">
														<li>Flat files on server</li>
														<li>MySQL</li>
														<li>Using ORMs like Sequelize</li>
														<li>MongoDB</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Advanced Topics &amp; Deployment</h3>
													<h5 class="lectures">Lectures 19-25</h5>
													<hr>
													<ul class="points-list">
														<li>Security</li>
														<li>Scaling</li>
														<li>Using Frontend Templates</li>
														<li>3rd Party Libraries and Frameworks</li>
														<li>Deploying a live web project</li>
													</ul>
												</div>
											</div>
										</div>


										
										<br/><br/>
										<h3 class="uppercase mb64 text-center color-primary"> Stage 3 - Interview Prep Non Coding</h3>
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Networks</h3>
													<hr>
													<ul class="points-list">
														<li>Servers Clients and DNS</li>
														<li>Web Protocols and Domain Names</li>
														<li> IP Addresses Introduction and Classes </li>
														<li> MAC Address </li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Web Technologies</h3>
													<hr>
													<ul class="points-list">
														<li>Web Server Architecture and Components</li>
														<li>Search Engine Trivial Solution</li>
														<li>Web Technologies and Frameworks</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Operating Systems</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to OS and types</li>
														<li>Kernel Responsibilities</li>
														<li>Working of OS</li>
													</ul>
												</div>
											</div>

											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Process Management</h3>
													<hr>
													<ul class="points-list">
														<li>Process Lifecycle and Queues</li>
														<li>Critical Section Selection</li>
														<li>Dining Philosopher Cigarette Smoker</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Database Management Systems</h3>
													<hr><ul class="points-list">
														<li>Database Design</li>
														<li>SQL Statements</li>
														<li>SQL Queries - Cars and Manufacturers</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">System Design</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to System Design</li>
														<li>System Design Steps </li>
													</ul>
												</div>
											</div>
		
										</div>


										<a id="advance-enroll" class="in-page-link"></a>
										<section class="tabbed-enroll-section">
											<div class="container">
												<div class="row v-align-children">
													<div class="col-md-4 col-sm-6">
														<div class="pricing-table pt-1 text-center emphasis">
															<h5 class="uppercase">Fast Track batch</h5>
															<span class="slashed-price">₹50,000</span><br />
															<span class="price">₹45,000</span><br />
															<p class="lead">(65 lectures)</p>
															<a class="btn btn-white btn-lg" href="#register-advance">Enroll Now</a>
			   												<p><a href="/contactus">Contact Us</a><br>Call(Toll-free):1800-2744-504</p>
			   											</div>
													</div>
												</div>
											</div>
										</section>
										{{> courseschedule schedule=scheduleJava}}
										<a id="register-advance" class="in-page-link"></a>
										<section>
											<div class="text-center">
												<h3>REGISTER NOW</h3></div>
											<div class="container">
												<div class="course-tabs" id="adv">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="wide-tab active" id="tab-noida"><a href="#noida-adv" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Java and Web Dev at Noida</a></li>
													</ul>
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane active" id="noida-adv">
															<div class="widget-container" {{#if frame-id-noida-cx}}data-widget-id="{{frame-id-noida-cx}}"{{/if}}>
																<iframe class="payment-widget" {{#if frame-id-noida-cx}}id="{{frame-id-noida-cx}}"{{/if}} frameborder="0" src="{{{registerLinkNoidaCX}}}"></iframe>
															</div>
														</div>

													</div>
												</div>
											</div>
										</section>
									</div>

									<!--End of java bun-->


									
									{{!-- <div role="tabpanel" class="tab-pane" id="python-bundle">
										<br/><br/>
										<h3 class="uppercase mb64 text-center color-primary"> Stage 1 - Python Development</h3>
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Getting started with Python</h3>
													<hr>
													<ul class="points-list">
														<li>Why Python?</li>
														<li>Setting up Python on windows, mac, linux</li>
														<li>Basic Python syntax</li>
														<li>Variables, data structures, functions</li>
														<li>Conditionals and loops</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Python Utilities</h3>
													<hr>
													<ul class="points-list">
														<li>Basic file handling</li>
														<li>Dealing with errors in Python</li>
														<li>Basic Python modules (time, datetime, random, os, sys, collections, etc)</li>
													</ul>
												</div>
											
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Intermediate Python</h3>
													<hr>
													<ul class="points-list">
														<li>Iterators, generators and decorators</li>
														<li>Object oriented programming</li>
														<li>Working with files (CSV/ZIP/PDF/JSON/XML)</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Python for web</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to web APIs</li>
														<li>Interacting with web APIs (GET and POST requests)</li>
														<li>File downloader using Python</li>
														<li>Web scraping using requests and BeautifulSoup</li>
														<li>Web crawling</li>
														<li>Web automation using selenium</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Web development using Flask</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to Flask</li>
														<li>Setting up python environment</li>
														<li>Basic web application using Flask</li>
														<li>Authentication using Flask</li>
														
														<li>Deploying Flask app on Heroku</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Database and SQL</h3>
													<hr>
													<ul class="points-list">
														<li>Database selection reasonong</li>
														<li>Jupyter DB Connection extention</li>
														<li>ORM with SQLalchemy</li>
														<li>Connecting with non relational databases</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Creating CLI for your application</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to argparse</li>
														<li>Using placeholders and helpers</li>
													</ul>
												</div>
											</div>
										</div>


										<br/><br/>
										<h3 class="uppercase mb64 text-center color-primary"> Stage 2 - Data Science using Python</h3>
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Python Recap</h3>
													<h5 class="lectures">Lectures 1-5</h5>
													<hr>
													<ul class="points-list">
														<li>Data Science Quickstart Mode</li>
														<li>Data Structures</li>
														<li>Functions</li>
														<li>OOPS and Modules</li>
														<li>File Handling in Python</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Mathematical Concepts and Data Visualisation</h3>
													<h5 class="lectures">Lecture: 6-10</h5>
													<hr>
													<ul class="points-list">
														<li>Linear Algebra</li>
														<li>Data Visualisation</li>
														<li>Probability Distribution &amp; Statistics</li>
														<li>Numpy, Scipy, and Scientific computation with Python</li>
														<li>Data Analysis using Pandas</li>
														<li>Data Acquisition - Web Scrapping, Web APIs</li>
														<li>Data Scraping, Handling, Cleaning</li>
														<li>Importing/Exporting Data from/to various sources</li>
														<li>Identify missing/outliers data</li>
														<li>Normalizing and Formatting data</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Machine Learning Algorithms</h3>
													<h5 class="lectures">Lecture 11-15</h5>
													<hr>
													<ul class="points-list">
														<li>K-Nearest Neighbour search</li>
														<li>K-means clustering</li>
														<li>Linear Regression</li>
														<li>Logistic Regression</li>
														<li>Decision trees and Naive Bayes</li>
														<li>Random Forest Classifiers</li>
														<li>Manual Ensembling Vs. Automated Ensembling</li>
														<li>Bagging, Boosting of trees</li>
														<li>Ada Boost and XGBoost</li>
														<li>Support Vector Machines</li>
														<li>SVD and Principal Component Analysis</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Segmentation and Time Series</h3>
													<h5 class="lectures">Lecture 16-20</h5>
													<hr>
													<ul class="points-list">
														<li>Introduction to Segmentation</li>
														<li>Subjective Vs Objective, Heuristic Vs. Statistical</li>
														<li>Heuristic, Behavioral Segmentation Techniques</li>
														<li>Hierarchical Clustering vs Spectral Clustering</li>
														<li>Feature selection and importance</li>
														<li>Principle component Analysis (PCA)</li>
														<li>Time Series - Components</li>
														<li>Time Series - Averages, Smoothening, AR Models</li>
														<li>Understanding Forecasting Accuracy - MAPE, MAD, MSE, etc</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Deep Learning</h3>
													<h5 class="lectures">Lectures 21-24</h5>
													<hr>
													<ul class="points-list">
														<li>Neural Architectures and Training</li>
														<li>Deep learning methods</li>
														<li>Convolutions and the GoogLe Net</li>
														<li>Dimensions revisited: The Auto-encoder</li>
														<li>Recurrent and Combined Architectures</li>
														<li>Transfer Learning</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Projects and case studies</h3>
													<h5 class="lectures">Across Lectures</h5>
													<hr>
													<ul class="points-list">
														<li>Face Recognition</li>
														<li>Image classification and Object detection</li>
														<li>Text/Poem generating bot</li>
														<li>Recommender systems</li>
														<li>PokeMon Classification</li>
														<li>Web Crawler</li>
														<li>Cartpole Player</li>
														<li>Dominant Color Extraction</li>
														<li>Fashion Retailing Forecasting</li>
													</ul>
												</div>
											</div>
										</div>

										
										<br/><br/>
										<h3 class="uppercase mb64 text-center color-primary"> Stage 3 - Interview Prep Non Coding </h3>
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Networks</h3>
													<hr>
													<ul class="points-list">
														<li>Servers Clients and DNS</li>
														<li>Web Protocols and Domain Names</li>
														<li> IP Addresses Introduction and Classes </li>
														<li> MAC Address </li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Web Technologies</h3>
													<hr>
													<ul class="points-list">
														<li>Web Server Architecture and Components</li>
														<li>Search Engine Trivial Solution</li>
														<li>Web Technologies and Frameworks</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Operating Systems</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to OS and types</li>
														<li>Kernel Responsibilities</li>
														<li>Working of OS</li>
													</ul>
												</div>
											</div>

											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Process Management</h3>
													<hr>
													<ul class="points-list">
														<li>Process Lifecycle and Queues</li>
														<li>Critical Section Selection</li>
														<li>Dining Philosopher Cigarette Smoker</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Database Management Systems</h3>
													<hr><ul class="points-list">
														<li>Database Design</li>
														<li>SQL Statements</li>
														<li>SQL Queries - Cars and Manufacturers</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">System Design</h3>
													<hr>
													<ul class="points-list">
														<li>Introduction to System Design</li>
														<li>System Design Steps </li>
													</ul>
												</div>
											</div>
		
										</div>


										<a id="advance-enroll" class="in-page-link"></a>
										<section class="tabbed-enroll-section">
											<div class="container">
												<div class="row v-align-children">
													<div class="col-md-4 col-sm-6">
														<div class="pricing-table pt-1 text-center emphasis">
															<h5 class="uppercase">Fast Track batch</h5>
															<span class="slashed-price">₹50,000</span><br />
															<span class="price">₹45,000</span><br />
															<p class="lead">(65 lectures)</p>
															<a class="btn btn-white btn-lg" href="#register-advance">Enroll Now</a>
			   												<p><a href="/contactus">Contact Us</a><br>Call(Toll-free):1800-2744-504</p>
			   											</div>
													</div>
												</div>
											</div>
										</section>
										{{> courseschedule schedule=schedulePython}}
										<a id="register-advance" class="in-page-link"></a>
										<section>
											<div class="text-center">
												<h3>REGISTER NOW</h3></div>
											<div class="container">
												<div class="course-tabs" id="adv">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="wide-tab active" id="tab-noida"><a href="#noida-adv" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Python and Data Science at Noida</a></li>
													</ul>
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane active" id="noida-adv">
															<div class="widget-container" {{#if frame-id-noida-py}}data-widget-id="{{frame-id-noida-py}}"{{/if}}>
																<iframe class="payment-widget" {{#if frame-id-noida-py}}id="{{frame-id-noida-py}}"{{/if}} frameborder="0" src="{{{registerLinkNoidaPY}}}"></iframe>
															</div>
														</div>

													</div>
												</div>
											</div>
										</section>
									</div> --}}

									<!--End of python bun-->

									
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			{{> team team=mentors}}
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}

		<script>
		</script>
	</body>
</html>
