<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> coursehighlights}}
			{{> freeAccessBanner}}
			{{> coursecontents}}
			{{> courseenroll}}
			{{> courseschedule}}
			<section>
				<div class="text-center">
					<h3>REGISTER NOW</h3>
				</div>
				<div class="container">
					<div class="course-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="wide-tab active" id="tab-delhi"><a href="#delhi" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Pitampura</a></li>
							<li role="presentation" class="wide-tab" id="tab-dwarka"><a href="#dwarka" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Dwarka</a></li>
							<li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Noida (Early bird discount)</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="delhi">
								<div class="container widget-container" data-widget-id="{{frame-id-pitampura-lp}}">
									<iframe class="payment-widget" {{#if frame-id-pitampura-lp}}id="{{frame-id-pitampura-lp}}"{{/if}} frameborder="0" src="{{{registerLinkPitampuraLP}}}"></iframe>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="noida">
								<div class="container widget-container" data-widget-id="{{frame-id-noida-lp}}">
									<iframe class="payment-widget" {{#if frame-id-noida-lp}}id="{{frame-id-noida-lp}}"{{/if}} frameborder="0" src="{{{registerLinkNoidaLP}}}"></iframe>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="dehradun">
								<div class="container widget-container" data-widget-id="{{frame-id-dehradun}}">
									<iframe class="payment-widget" {{#if frame-id-dehradun}}id="{{frame-id-dehradun}}"{{/if}} frameborder="0" src="{{{registerLinkDehradunLP}}}"></iframe>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="dwarka">
								<div class="container widget-container" data-widget-id="{{frame-id-dwarka-lp}}">
									<iframe class="payment-widget" {{#if frame-id-dwarka-lp}}id="{{frame-id-dwarka-lp}}"{{/if}} frameborder="0" src="{{{registerLinkDwarkaLP}}}"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{{> team team=mentors}}
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
