<!DOCTYPE html>
<html lang="en">
	<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  {{> courseSchema}}
  <style>
    #page-header {
      background: linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.5)),
        url("/assets/images/cb/cover/algo_2.jpg") no-repeat 0 75% !important;
      background-size: cover !important;
    }
    .height-correction{
        height: 75px;
        padding-top: 15px;
    }
  </style>

  <script>
    window.scrollNow = function (target) {
      var scrollContainer = target;
      do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
      } while (scrollContainer.scrollTop == 0);

      var targetY = 0;
      do {
        // Find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
      } while (target = target.offsetParent);

      scroll = function (c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function () { scroll(c, a, b, i); }, 20);
      }
      // Scroll to target
      scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
    }
  </script>
</head>

<body class="scroll-assist" style="margin-top: -70px;">
  {{> navbar}}
  <div class="a-cbm mt-100 mb-50">
    <div class="width-limiter py-50 mt-100">
      <div class="px-md-40 px-20">
        <div class="row align-items-center no-gutters">
          <div class="flex-1 pr-lg-50 pr-sm-30">
            <div class="row no-gutters align-items-center justify-content-between">
              <div class="flex-1">
                <div class="row no-gutters align-items-center justify-content-between mb-20">
                  <div class="card all-center s-120x120 course-logo-big-square p-sm-30 p-20 bg-gradient-pink">
                    <img src="{{logo}}" />
                  </div>
                  <div class="flex-1 pl-sm-30 pl-20">
                    <div class="heading-3 bold text-clamp-ellipses text-clamp-ellipses--3 height-correction">
                      {{ name }}
                    </div>
                  </div>
                </div>
                <div class="font-4 mb-20 text-clamp-ellipses text-clamp-ellipses--3 t-align-sm-l t-align-c height-corrrection">
                  {{openGraph.description}}
                </div>
                <div class="row no-gutters justify-content-sm-between justify-content-center">
                  <div class="row no-gutters align-items-center flex-1">
                    <div class="br-5 d-inline-block p-2 bg-gradient-orange-light mr-20 font-2 white">
                      <span class="v-align-m">
                        {{difficulty}}
                      </span>
                    </div>
                    <div class="t-align-sm-l t-align-c">
                      <div class="font-2">Course Language</div>
                      <div class="font-4 bold mt-1">
                        English, Hindi
                      </div>
                    </div>
                  </div>
                  <div class="d-sm-block d-none">
                    {{!-- This button would scroll down to the sections where batches are listed --}}
                    <button class="button-primary buy-scroll-button" type="button" onclick="scrollNow(document.getElementById('courses'))">
                      Choose Batch
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 pl-lg-50 pl-sm-30 border-left d-sm-block d-none">
            <div class="font-5 bold mb-20">
              Also get
            </div>
            <ul class="list-style-gradient-bullet my-none">
              <li class="mb-15">Placement and Internship assistance through Hiring Blocks</li>
              <li class="mb-15">Resume building tips</li>
              <li class="mb-15">Interview preparation</li>
              <li class="mb-15">Free access to Online Course</li>
              <li class="mb-15">Skill enhancement classes</li>
              <li class="mb-15">Start with online platforms like Leetcode, Codeforces etc.</li>
            </ul>
          </div>
        </div>
        <div class="d-sm-none d-block mt-30 pt-30 border-top t-align-c">
          <div class="font-5 bold mb-20">
            Also get
          </div>
          <ul class="list-style-gradient-bullet mx-auto" style="width: fit-content;">
            <li class="mb-15">Placement and Internship assistance through Hiring Blocks</li>
              <li class="mb-15">Resume building tips</li>
            <li class="mb-15">Interview preparation</li>
            <li class="mb-15">Free access to Online Course</li>
            <li class="mb-15">Skill enhancement classes</li>
            <li class="mb-15">Start with online platforms like Leetcode, Codeforces etc.</li>
          </ul>
        </div>
        <div class="d-sm-none d-block mt-30 t-align-c">
          <button class="button-primary buy-scroll-button">Buy Course</button>
        </div>


        <div class="mt-50">
          <div class="row">
            {{#each highlights}}
            <div class="col-lg-3 col-6 h-inherit mb-lg-none mb-30">
              <div class="card bg-grey-light-3 h-100 flex-col justify-content-between">
                <div class="w-100">
                  <img src="{{img}}" style="height: 35px;">
                  <div class="my-20 bold heading-6">{{title}}</div>
                </div>
                <div class="text-grey font-2 w-100">
                  {{content}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="mt-75">
          <div class="card bg-gradient-blue-light position-relative">
            <div class="font-4 bold white t-align-sm-l t-align-c">
              Get free access to our online course and also get<br />a wildcraft bag absolutely free!
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/widcraft-bag.png"
              class="position-absolute br d-sm-block d-none" style="right: 30px;">
            <div class="t-align-c d-sm-none d-block">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/widcraft-bag.png" class="mt-30">
            </div>
          </div>
        </div>

        <div class="mt-50">
          <div class="row no-gutters align-items-center justify-content-between mb-50">
            <div class="heading-4 bold flex-1">
              Course Content
            </div>
            <a href="#" class="button-secondary">Download Syllabus</a>
          </div>
        <div class="row no-gutters syllabus-grid-section">
            {{#each syallabus}}
          <div class="col-md-4 col-sm-6 col-12 h-inherit syllabus-grid-card flex-col">
            <div class="card br-none h-100 p-sm-30 p-20 w-100">
                <div class="font-5 bold text-clamp-ellipses text-clamp-ellipses--2 pb-20 border-bottom w-100">
                  {{title}}
                </div>
                <ul class="list-style-gradient-bullet mt-20 w-100 mb-none">
                  {{#each sectionContent}}
                  <li class="mb-10 text-clamp-ellipses text-clamp-ellipses--2">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="mt-50">
          <div class="row no-gutters align-items-center justify-content-between mb-50" id="courses">
            <div class="heading-4 bold flex-1">
              Center and Schedule
            </div>
            {{!-- <a href="#" class="button-secondary">Pitampura</a> --}}
          </div>
          {{#each batches}}
          <div class="row no-gutters align-items-center justify-content-between border-bottom py-20">
            <div class="col-8">
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1 font-4 bold d-sm-block d-none t-align-l">{{location}}</div>
                <div class="font-4 bold d-sm-none d-block col-12 mb-15">{{location}}</div>
                <div class="flex-1 font-4">
                  <div class="text-grey-light-1">
                    Starting from
                  </div>
                  <div class="bold">
                    {{start_date}}
                  </div>
                </div>
                <div class="flex-1 font-4">
                  <div class="text-grey-light-1">
                    Weekend Batch
                  </div>
                  <div class="bold">
                    {{days}}
                  </div>
                </div>
                <div class="flex-1 font-4">
                  <div class="text-grey-light-1">
                    Timings
                  </div>
                  <div class="bold">
                    {{timings}}
                  </div>
                </div>
                <div class="flex-1 font-4">
                  <div class="text-grey-light-1">
                    Mentor
                  </div>
                  <div class="bold">
                    {{mentor}}
                  </div>
                </div>
                <div class="flex-2 font-4">
                  <div class="text-grey-light-1">
                    Price
                  </div>
                  <div class="bold">
                    {{price}}
                  </div>
                </div>
              </div>
            </div>
            {{#if seats_full}}
              <div class="flex-1 pl-20 row no-gutters justify-content-end">
                <a href="" class="button-primary ml-20">SEATS FULL</a>
              </div>
            {{else}}
              <div class="flex-1 pl-20 row no-gutters justify-content-end">
                <a href="https://dukaan.codingblocks.com/buy?productId={{product_id}}" class="button-primary ml-20">Enroll</a>
              </div>
            {{/if}}
          </div>
          {{/each}}
        </div>

        <div class="mt-50">
          <div class="heading-4 bold mb-50">
            Mentors
          </div>
          {{#each mentors}}
          <div class="row no-gutters align-items-center mentor-list-element mb-30">
            <div class="s-150x150 round d-sm-block d-none">
              <img src="{{img}}" />
            </div>
            <div class="flex-1 pl-sm-30">
              <div class="s-100x100 round mb-20 d-sm-none d-block">
                <img src="{{img}}" />
              </div>
              <div class="heading-6 bold">{{name}}</div>
              <div class="mt-10 mb-20 font-2 orange">{{contact}}</div>
              <div class="font-4">
                {{description}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
 <div class="bg-grey-light-3">
      <div class="width-limiter">
        <div class="py-50 px-md-5 px-4">
          <div class="row mx-0 c-card-carousel-lg">
            {{#each courseReviews}}
            {{#each @root.reviews.reviewsList}}
            {{#ifEquals ../this this.name}}

            <div class="col-lg-4 col-md-6 col-sm-8 col-12" style="padding-top: 4rem;">
              <div class="border-card img-review-card p-md-5 p-4" style="height:100%">
                <div class="author">
                  <div class="img-ring s-100x100">
                    <img class="round img" alt="coding-blocks-reviews"
                      src="{{#relativePath @file.path imgSrc}}{{/relativePath}}">
                  </div>
                </div>
                <div class="icon">
                  <i class="fas fa-quote-left orange" style="font-size:3rem;"></i>
                </div>

                <h5 class="bold t-align-c mb-4">{{name}}</h5>
                <div class="review-body">
                  {{review}}
                </div>
              </div>
            </div>
            {{/ifEquals}}
            {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="width-limiter">
      <div class="py-50 px-md-40 px-20">
        <div class="t-align-c mb-30">
          <div class="heading-5 bold mb-30">Where our Alumni Work</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/alumni-companies.png">
        </div>
      </div>
    </div>
    <div class="width-limiter mb-50">
      <div class="px-md-40 px-20">
        <div class="t-align-sm-l t-align-c mb-50">
          <div class="heading-4 bold mb-10">Frequently Asked Questions</div>
          <div class="font-4 text-grey">
            Find answers to the questions popping up in your head here.
          </div>
        </div>
        {{#each faqs}}
         <div class="faq-element-container pointer">
          <div class="faq-question row no-gutters align-items-center justify-content-between p-20">
            <div class="font-4 bold flex-1">
              {{ques}}
            </div>
            {{!-- <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/plus.svg" class="sign" /> --}}
          </div>
          <div class="faq-answer p-20">
              {{ans}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{> footer}}
  {{> scripts}}
</body>

</html> 