<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        .event-card {
            text-align: left;
            overflow: hidden;
            padding: 0;
        }

        .event-card .shadow {
            height: 500px;
            box-shadow: 5px 5px 7px 0 rgba(46, 61, 73, .15);
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 40px;
            transition: .5s ease;
        }

        .event-card .shadow:hover {
            box-shadow: 12px 12px 10px 0 rgba(46, 61, 73, .15);
            transition: .5s ease;
        }

        .event-card .img-box {
            background: #fff;
            width: 100%;
            height: 200px;
            overflow: hidden;
        }

        .event-card .img-box-old {
            filter: grayscale(100%);
        }

        .event-card .info-box {
            height: 300px;
            background: #fff;
            padding: 5% 7%;
            color: #292929;
        }

        .event-card .info-box-old {
            background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }

        .event-card .info-box h3 {
            height: 70px;
            overflow-y: hidden;
            font-size: 24px;
            line-height: 34px;
        }

        .event-card .info-box .desc {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }

        .event-card .info-box .location {
            overflow-y: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    <section class="bg-secondary container-fluid text-center" style="padding-bottom: 15px;">
        <a id="upcoming" class="in-page-link"></a>
        <h2>Upcoming Events</h2>
        <div class="row" id="upcoming-events-list-wrapper"></div>
    </section>
    <section class="bg-secondary container-fluid text-center" style="padding-top: 15px;">
        <a id="past" class="in-page-link"></a>
        <h2>Past Events</h2>
        <div class="row" id="past-events-list-wrapper"></div>
    </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script id="events-list" type="text/x-handlebars">
    {{{{raw}}}}
        {{#each data}}

        <div class="col-md-4 col-sm-6 col-xs-12 event-card">
            <div class="shadow">
                <a href="https://www.facebook.com/events/1935517383390455/{{{id}}}" target="_blank">
                    <div class="img-box {{#if old}}img-box-old{{/if}}">
                        <img src="{{{cover}}}">
                    </div>
                    <div class="info-box {{#if old}}info-box-old{{/if}}">
                        <h3>{{{name}}}</h3>
                        <p class="desc">{{{description}}}</p>
                        <p class="location"><strong>Location:</strong> {{{place.name}}}</p>
                        <p class="date"><strong>Start:</strong> {{{start_date}}} {{#if end_date}}<span
                                class="pull-right"> <strong>End:</strong>
                        {{{end_date}}}{{/if}}</span></p>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    {{{{/raw}}}}
</script>

<script type="text/javascript">
    var url = "https://graph.facebook.com/v2.10/1477893739095631/events?access_token=404649853235493%7CEInF9B-kIT0Tdpv_oyXBMIlfiDU";

    $.get(url, {time_filter: "upcoming"}, function (events) {
        var newEventsPromises = events.data.map(function (event, index) {
            event.start_date = event.start_time.substring(0, 10);
            if (event.end_time)
                event.end_date = event.end_time.substring(0, 10);
            event.old = false;
            return new Promise((resolve, reject) => {
                $.get("https://graph.facebook.com/v2.10/" + event.id + "?access_token=404649853235493%7CEInF9B-kIT0Tdpv_oyXBMIlfiDU", {
                    fields: "cover"
                }, function (obj) {
                    resolve(getCover(obj, event))
                });
            });
        });

        Promise.all(newEventsPromises).then(newEvents => {
            var template = document.getElementById('events-list').innerHTML;
            var html = Handlebars.compile(template);
            var content = document.getElementById('upcoming-events-list-wrapper');
            content.innerHTML = html(events);
            console.log(events.data[0]);
        });
    });

    $.get(url, {time_filter: "past", limit: "6"}, function (events) {
        var newEventsPromises = events.data.map(function (event, index) {
            event.start_date = event.start_time.substring(0, 10);
            if (event.end_time)
                event.end_date = event.end_time.substring(0, 10);
            event.old = true;
            return new Promise((resolve, reject) => {
                $.get("https://graph.facebook.com/v2.10/" + event.id + "?access_token=404649853235493%7CEInF9B-kIT0Tdpv_oyXBMIlfiDU", {
                    fields: "cover"
                }, function (obj) {
                    resolve(getCover(obj, event))
                });
            });
        });

        Promise.all(newEventsPromises).then(newEvents => {
            var template = document.getElementById('events-list').innerHTML;
            var html = Handlebars.compile(template);
            var content = document.getElementById('past-events-list-wrapper');
            content.innerHTML = html(events);
            console.log(events.data[0]);
        });
    });

    function getCover(obj, event) {
        event.cover = obj.cover.source;
        return event;
    }
</script>
</body>
</html>
