{{#each aboutMentor}}
<div class="a-cbm">
<div class="bg-grey-light-3 card">
  <div class="font-md bold mb-5">About Mentors</div>
  <div class="row no-gutters instructor-row">
    <img src="{{profile_pic_link}}" class="s-50x50 round" style="width: 100px; height: 100px;">
    <div class="ml-3 flex-1">
      <div class="font-mds bold">{{name}}</div>
      <a href="mailto:{{email}}" class="med-grey mb-2">{{email}}</a>
      <div class="t-align-j">
        <div class="markdown-body">
          <p>{{summary}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</br>
{{/each}}
