{{#with courseMeta}}
<div class="a-cbm">
  <div class="width-limiter">
    <div class="px-md-5 px-4">
      <div class="card overflow-hidden p-none mb-50">
        <div class="position-relative bg-blue pt-sm-40 pt-20 pb-sm-40 pb-70 px-sm-50 px-20 white {{gradient}}">
          <div class="t-align-c heading-3 bold position-relative py-30">
            {{title}}
            <div class="mentor-badge d-lg-block d-none position-absolute" style="right: 0; top: 18px">
              <div class="row no-gutters align-items-center justify-content-end">
                <div class="bold pr-20 font-3 t-align-r">
                  <div>Mentor</div>
                  <div>{{mentors}}</div>
                </div>
                <div class="s-50x50 round" style="width: 100px; height: 100px;">
                  <img src="{{mentorImg}}">
                </div>
              </div>
            </div>
          </div>
          <div class="d-lg-none d-block mx-auto" style="width: fit-content;">
            <div class="row no-gutters align-items-center">
              <div class="flex-1 bold pl-20 pr-10">
                <div>Mentor</div>
                <div>{{mentors}}</div>
              </div>
              <div class="s-50x50 round" >
                <img src="{{mentorImg}}">
              </div>
            </div>
          </div>
          <div class="s-120x120 round border b-white border-2 position-absolute p-20" style="bottom: -60px; left: 5%; background: inherit;">
            <img src="{{icon}}">
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/dedicated-placement-support.png" class="position-absolute tl" style="left: 50%; transform: translateX(-50%)">
        </div>
        <div class="pt-60 pb-md-60 pb-30 pr-md-50 pr-30 d-sm-block d-none" style="padding-left: calc(5%);">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="col-lg-7 col-12 mb-lg-none mb-25">
              <div class="row no-gutters align-items-center">
                <div class="bold text-gradient-black col-sm-6 mb-10 pr-15 "><i class="far fa-check-circle"></i> {{interactiveClasses}}</div>
                {{#if projects}}<div class="bold text-gradient-black col-sm-6 mb-10"><i class="far fa-check-circle"></i> {{projects}}</div>{{/if}}
              </div>
              <div class="row no-gutters align-items-center">
                {{#if codingProblems}}<div class="bold text-gradient-black col-sm-6 mb-10 pr-15"><i class="far fa-check-circle"></i> {{codingProblems}}</div>{{/if}}
                <div class="bold text-gradient-black col-sm-6 mb-10"><i class="far fa-check-circle"></i> Classes {{days}} times in week</div>
              </div>
            </div>
            <div class="flex-1">
              <div class="d-sm-none d-block mb-20 t-align-r">
                <span class="heading-5 bold">{{price}}</span>
                <span class="heading-6 text-grey-light-1"
                  style="text-decoration: line-through;">&nbsp;&nbsp;{{slashedPrice}}</span>
                <div class="mt-1">Starting from <strong>{{startDate}}</strong></div>
                {{#if timing}}<div class="mt-1"><strong>{{timing}}</strong></div>{{/if}}
                {{#if couponApplicable}}<div class="mt-1">Use Coupon &quot;<strong>LIV50</strong>&quot;</div>{{/if}}
              </div>
              <div class="row no-gutters align-items-center justify-content-end">
                <div class="flex-1 t-align-r v-align-ma d-sm-block d-none">
                  <span class="heading-5 bold">{{price}}</span>
                  <span class="heading-6 text-grey-light-1"
                    style="text-decoration: line-through;">&nbsp;&nbsp;{{slashedPrice}}</span>
                  <div class="mt-1">Starting from <strong>{{startDate}}</strong></div>
                  {{#if timing}}<div class="mt-1"><strong>{{timing}}</strong></div>{{/if}}
                  {{#if couponApplicable}}<div class="mt-1">Use Coupon &quot;<strong>LIV50</strong>&quot;</div>{{/if}}
                </div>
                <a href="{{test_link_second}}" class="button-primary ml-30 mb-none">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-80 pb-20 px-20 d-sm-none d-block">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="col-lg-7 col-12 mb-lg-none mb-25">
              <div class="row no-gutters align-items-center">
                <div class="bold text-gradient-black col-sm-6 mb-10 pr-15">{{interactiveClasses}}</div>
                <div class="bold text-gradient-black col-sm-6 mb-10">{{projects}}</div>
              </div>
              <div class="row no-gutters align-items-center">
                {{#if codingProblems}}<div class="bold text-gradient-black col-sm-6 mb-10 pr-15">{{codingProblems}}</div>{{/if}}
                <div class="bold text-gradient-black col-sm-6 mb-10">Classes {{days}} times in week</div>
              </div>
            </div>
            <div class="flex-1">
              <div class="d-sm-none d-block mb-20 t-align-r">
                <span class="heading-5 bold">{{slashedPrice}}</span>
                <span class="heading-6 text-grey-light-1"
                  style="text-decoration: line-through;">&nbsp;&nbsp;{{price}}</span>
                <div class="mt-1">Starting from <strong>{{startDate}}</strong></div>
                {{#if timing}}<div class="mt-1"><strong>{{timing}}</strong></div>{{/if}}
                {{#if couponApplicable}}<div class="mt-1">Use Coupon &quot;<strong>LIV50</strong>&quot;</div>{{/if}}
              </div>
              <div class="row no-gutters align-items-center justify-content-end">
                <div class="flex-1 t-align-r v-align-ma d-sm-block d-none">
                  <span class="heading-5 bold">{{slashedPrice}}</span>
                  <span class="heading-6 text-grey-light-1"
                    style="text-decoration: line-through;">&nbsp;&nbsp;{{price}}</span>
                  <div class="mt-1">Starting from <strong>{{startDate}}</strong></div>
                  {{#if timing}}<div class="mt-1"><strong>{{timing}}</strong></div>{{/if}}
                  {{#if couponApplicable}}<div class="mt-1">Use Coupon &quot;<strong>LIV50</strong>&quot;</div>{{/if}}
                </div>
                <a href="{{test_link_second}}" class="button-primary ml-30 mb-none">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}