<!--course-->
<div class="pricing-card pricing-card-short {{#if first}}first{{/if}} {{#if second}}second{{/if}} {{#if
        simple}} pricing-card-simple {{/if}} {{#if
        odd}} pricing-card-inverse {{/if}} col-md-4 col-sm-6">
    <div class="pricing-table pt-2 text-center">
        {{#unless simple}}
            {{#unless noImg}}
                <img alt="{{{imgAlt}}}" class="course logo" src="{{#relativePath @file.path imgSrc}}{{/relativePath}}">
            {{else}}
                <div class="package-logo"></div>
            {{/unless}}
        {{else}}
            <div class="package-logo">Combo</div>
        {{/unless}}
        <h4 class="uppercase bold">{{{name}}}</h4>
        <span class="price">{{#if price}}₹{{{price}}}{{else}}TBA{{/if}}</span>
        <p class="desc"><strong>{{{description.[0]}}}</strong></p>
        <p class="lead">{{{lectures}}}</p>
        <a class="btn btn-white btn-filled btn-lg" target="_blank"
           href="{{#relativePath @file.path link}}{{/relativePath}}">{{#unless
                linkText}}
            Register Now{{else}}{{{linkText}}}{{/unless}}</a>
    </div>
</div>
<!--endcourse-->
