<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h4 class="mb16 text-center">Course Schedule</h4>
				<table class="table table-hover table-striped calendar">
					<thead>
						<tr>
							<th></th>
							<th>Center</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Day &amp; Time</th>
							<th>Batch Type</th>
						</tr>
					</thead>
					<tbody>
						{{#each schedule}}
						<tr>
							<td class="text-center"><i class="fa fa-circle"></i></td>
							<td>{{center}}</td>
							<td>{{startdate}}</td>
							<td>{{enddate}}</td>
							<td>{{daytime}}</td>
							<td>{{batchtype}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
