<!--coursecontents-->
<a id="contents" class="in-page-link"></a>
<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="uppercase mb80 text-center color-primary">Course Contents</h2>
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        {{#each courseContents}}
                            <li {{#if active}}class="active"{{/if}}>
                                <div class="tab-title">
                                    <h3 class="mb0"><span class="sad">{{{title}}}</span></h3>
                                </div>
                                <div class="tab-content">
                                    <h4 class="uppercase"><span class="sad"><strong>{{{contentTitle}}}</strong></span>
                                    </h4>
                                    <hr>
                                    {{#if description}}
                                        <p>
                                            {{{description}}}
                                        </p>
                                    {{/if}}
                                    {{#if lectures}}
                                        <p>
                                            <strong>{{{lectures}}}</strong><br>
                                        </p>
                                    {{/if}}
                                    {{#if points}}
                                        <ol>
                                            {{#each points}}
                                                <li>{{{this}}}</li>
                                            {{/each}}
                                        </ol>
                                    {{/if}}
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--endcoursecontents-->
