<!--courses-->
{{#with coursesSection}}
    <a id="courses" class="in-page-link"></a>
    <section>
        <div class="container">
            {{#unless noHeading}}
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="uppercase mb16">{{#if heading}}{{{heading}}}{{else}}courses{{/if}}</h2>
                        <p class="lead mb64">{{# if content}}{{{content}}}{{else}}
                            Courses for all stages, with equal focus on theory and implementation{{/if}}</p>
                    </div>
                </div>
            {{/unless}}
            <div class="row">
                {{#if showAll}}
                    {{#each @root.coursesList}}
                        {{> course}}
                    {{/each}}
                {{else}}
                    {{#each coursesList}}
                        {{#each @root.coursesList}}
                            {{#ifEquals this.id ../this}}
                                {{> course odd= false}}
                            {{/ifEquals}}
                        {{/each}}
                        {{#each @root.bootcampsList}}
                            {{#ifEquals this.id ../this}}
                                {{> course odd= false}}
                            {{/ifEquals}}
                        {{/each}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </section>
{{/with}}
<!--endcourses-->
