<!--course-->
<div class="pricing-card courses-card {{#if options.odd}}pricing-card-inverse{{/if}} col-md-4 col-sm-6  {{#if
        options.combo}}combo{{/if}} {{#if options.center}} col-md-offset-4 col-sm-offset-3{{/if}}">
    <div class="pricing-table courses-card pt-2 text-center {{#if options.odd}}boxed{{/if}} {{#if
            options.combo}}combo{{/if}}">
        {{#if badge}}
            <span class="course-badge {{#if options.combo}}course-badge-inverse{{/if}}">{{badge}}</span>
        {{/if}}
        {{#unless options.combo}}
            <img alt="{{{imgAlt}}}" class="course logo" src="{{#relativePath @file.path imgSrc}}{{/relativePath}}">
        {{else}}
            <div class="combo-offer">Save ₹{{off-price}}</div>
			<h4 class="combo-title">COMBO</h4>
        {{/unless}}
		{{#if combo-card-name}}
			<h4 class="uppercase bold name" style="font-size: 24px; margin-top: -1rem; padding-bottom: 1rem;">{{{combo-card-name}}}</h4>
		{{else}}
			<h4 class="uppercase bold name">{{{name}}}</h4>
		{{/if}}
        {{#if slashed-price}}<span class="slashed-price">₹{{slashed-price}}</span><br>{{/if}}
        <span class="price">{{#if price}}₹{{{price}}}{{/if}}</span>
        <p class="description">{{description.[0]}}</p>
        <p class="lead">{{{lectures}}}</p>
        {{#if online-link}}
            <a class="btn btn-white btn-filled btn-lg" target="_blank" href="{{online-link}}">{{#unless
                linkText}}Register Now{{else}}{{{linkText}}}{{/unless}}</a>
            <br>
            <a target="_blank" href="{{online-link}}">Try For Free</a>
        {{else if link}}
            <a class="btn btn-white btn-filled btn-lg" href="{{#relativePath @file.path link}}{{/relativePath}}">{{#unless
                linkText}}Register Now{{else}}{{{linkText}}}{{/unless}}</a>
        {{/if}}
    </div>
</div>
<script type="application/ld+json">
    {{{seoJSON this "course"}}}
</script>
<!--endcourse-->
