{{#with courseMeta}}
   <div class="border-card p-md-5 white p-4 bg-gradient-cyan white mb-5">
    <div class="d-flex flex-wrap no-gutters justify-content-between">
      <div class="col-12 col-sm-8 order-sm-1 order-2">
        <div class="bold" style="font-size: 2.85rem;">{{title}}</div>
        <div class="mt-4 font-lg">{{description}}</div>
        <div class="my-5">
          <div class="mentor-row d-flex align-items-center">
            <div class="mentor-row__image-container">
              <img src="{{mentor-img-1}}"
               class="mentor-row__image-container__mentor-image s-60x60">
              {{#if mentor-img-2}}
              <img src="{{mentor-img-2}}"
                alt="" class="mentor-row__image-container__mentor-image s-60x60">
              {{/if}}
               {{#if mentor-img-3}}
                <img src="{{mentor-img-3}}"
                  alt="" class="mentor-row__image-container__mentor-image s-60x60">
              {{/if}}
              </div>
            <div class="mentor-row__text-container">
              <div class="font-md">Instructors</div>
              <h4 class="bold white">{{mentors}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="order-sm-2 order-1 mb-sm-0 mb-3">
        <img src="{{icon}}"
          class="round border b-white border-2 s-130x130">
      </div>
    </div>
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-xl-8 col-sm-6">
        
        
      </div>
      <div class="d-inline-flex align-items-center">
        <h3><span class="font-mdxl bold">&#8377;&nbsp;{{price}}</span></h3>
      </div>
    </div>
  </div>
{{/with}}