<div class="row">
  {{#each liveCourseCards}}
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="border-card p-4">
          <div class="row no-gutters justify-content-between">
            <img src="{{imgSrc}}"
              style="max-width: 85px !important;">
            <h4 class="gradient-text-orange">&#8377;&nbsp;{{price}}</h4>
          </div>
          <h2 class="bold mt-4">{{name}}</h2>
          <div class="my-4 gradient-text-orange">
            <h5 class="bold">{{badge}}</h5>
            <h6 class="bold mt-1">Mon Tue Wed Fri | 7PM - 10PM</h6>
          </div>
          <div class="card-mentor d-flex align-items-center">
            <div class="card-mentor-image">
              <img src="{{mentor-img-1}}" class="card-mentors">
              {{#if mentor-img-2}}
              <img src="{{mentor-img-2}}"
                class="card-mentors">
              {{/if}}
            </div>
            <div class="pl-3">
              <div class="card-md font-normal">Instructors</div>
              <div class="bold">{{mentors}}</div>
            </div>
          </div>
          <div class="divider-h my-4"></div>
          <div class="row no-gutters justify-content-around">
            <a href="{{link}}" class="button-solid button-orange">View Description</a>
            <a href="{{live-link}}" class="button-orange button-dashed">Take Demo</a>
          </div>
        </div>
      </div>
 {{/each}}
</div>