{{#each liveCourseCards}}
<div class="col-lg-4 col-sm-6 mb-60 h-inherit">
  <div class="{{gradient}} h-100 position-relative">
    <div class="flex-col h-100 w-100 justify-content-between">
      <div class="bg-white font-2 px-20 position-absolute py-10 text-grey"
        style="top: -44px; left: calc(50% - 102px); border-top-left-radius: 10px; border-top-right-radius: 10px; border: 1px solid #3b4254; border-bottom: hidden;">
        Dedicated Placement Support</div>
      <div class="w-100">
        <div class="badge">{{badge}}</div>
        <div class="round border border-2 b-white s-70x70 mx-auto">
          <img src="{{icon}}">
        </div>
        <div class="my-10 bold">
          {{name}}
        </div>
        <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
          Mentor - {{mentors}}
        </div>
        <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
        <div class="bold mb-15">{{interactiveClasses}} </div>
        <div class="bold mb-15">{{codingProblems}}</div>
        <div class="bold mb-15">{{projects}}</div>
        <div class="bold">Classes thrice times a week</div>
      </div>
      <div class="w-100">
        <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="flex-1">
            <div class="row no-gutters align-items-center">
              <div class="heading-6 bold mr-10">
                &#8377;{{price}}
              </div>
              <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">{{slashedPrice}}</div>
            </div>
          </div>
          <a class="button-primary button-primary--white black border-none" href="{{link}}">Explore More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}