<!--registration-->
<a id="register" class="in-page-link"></a>
{{#if registerLink}}
    {{#unless noHeading}}
        <section>
            <div class="text-center">
                <h3>REGISTER NOW</h3>
            </div>
            <div class="container">
                {{#if register-comingSoon}}
                    <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                        <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon</p>
                    </div>
                {{else}}
                    <iframe class="payment-widget" {{#if frame-id}}id="{{frame-id}}"{{/if}}
                            frameborder="0"
                            src="{{{registerLink}}}"></iframe>
                {{/if}}
            </div>
        </section>
    {{else}}
        <div class="col-xs-12">
            {{#if register-comingSoon}}
                <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                    <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon</p>
                </div>
            {{else}}
                <iframe class="payment-widget compact" {{#if frame-id}}id="{{frame-id}}"{{/if}}
                        frameborder="0"
                        src="{{{registerLink}}}"></iframe>
            {{/if}}
        </div>
    {{/unless}}
{{/if}}
