<!--registration-->
<a id="register" class="in-page-link"></a>
{{#if registerLink}}
    {{#unless noHeading}}
        <section>
            <div class="text-center">
                <h3>REGISTER NOW</h3>
            </div>
            <div class="container">
                {{#if register-comingSoon}}
                    <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                        <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon</p>
                    </div>
                {{else}}
                    <div class="course-tabs">
                      <ul class="nav nav-tabs" role="tablist">
                          {{#if registerLink}}
                              <li role="presentation" class="active wide-tab" id="tab-delhi"><a href="#delhi"
                                                                                                aria-controls="home"
                                                                                                role="tab"
                                                                                                data-toggle="tab">Delhi</a>
                              </li>
                          {{/if}}

                          {{#if registerLinkNoida}}
                              <li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida"
                                                                                       aria-controls="profile"
                                                                                       role="tab"
                                                                                       data-toggle="tab">Noida (50&percnt; inaugural discount)</a>
                              </li>
                          {{/if}}
                          {{#if registerLinkDehradun}}
                              <li role="presentation" class="wide-tab" id="tab-dehradun"><a href="#dehradun"
                                                                                         aria-controls="profile"
                                                                                         role="tab"
                                                                                         data-toggle="tab">Dehradun (50&percnt; inaugural discount)</a>
                              </li>
                          {{/if}}
                      </ul>

                        <div class="tab-content">
                            {{#if registerLink}}
                                <div role="tabpanel" class="tab-pane active" id="delhi">
									<div class="container widget-container" data-widget-id='{{frame-id}}'>
										<iframe class="payment-widget" {{#if frame-id}}id="{{frame-id}}"{{/if}} frameborder="0" src="{{{registerLink}}}"></iframe>
									</div>
                                </div>
                            {{/if}}

                            {{#if registerLinkNoida}}
                                <div role="tabpanel" class="tab-pane" id="noida">
									<div class="container widget-container" data-widget-id='{{frame-id-noida}}'>
										<iframe class="payment-widget" {{#if frame-id-noida}}id="{{frame-id-noida}}"{{/if}} frameborder="0" src="{{{registerLinkNoida}}}"></iframe>
									 </div>
                                </div>
                             {{/if}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </section>
    {{else}}
        <div class="col-xs-12">
            {{#if register-comingSoon}}
                <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                    <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon</p>
                </div>
            {{else}}
                <div class="course-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                      {{#if registerLink}}
                          <li role="presentation" class="active wide-tab" id="tab-delhi"><a href="#delhi"
                                                                                            aria-controls="home"
                                                                                            role="tab"
                                                                                            data-toggle="tab">Delhi</a>
                          </li>
                      {{/if}}

                      {{#if registerLinkNoida}}
                          <li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida"
                                                                                   aria-controls="profile"
                                                                                   role="tab"
                                                                                   data-toggle="tab">Noida (50 &percnt; inaugural disc.)</a>
                          </li>
                      {{/if}}
                  </ul>

                    <div class="tab-content">
                        {{#if registerLink}}
                            <div role="tabpanel" class="tab-pane active" id="delhi">
                                <iframe class="payment-widget" {{#if frame-id}}id="{{frame-id}}"{{/if}}
                                        frameborder="0"
                                        src="{{{registerLink}}}"></iframe>
                            </div>
                        {{/if}}

                        {{#if registerLinkNoida}}
                            <div role="tabpanel" class="tab-pane" id="noida">
                                 <iframe class="payment-widget" {{#if frame-id-noida}}id="{{frame-id-noida}}"{{/if}}
                                         frameborder="0"
                                         src="{{{registerLinkNoida}}}"></iframe>
                            </div>
                         {{/if}}

                        {{#if registerLinkDehradun}}
                            <div role="tabpanel" class="tab-pane" id="dehradun">
                                <iframe class="payment-widget" {{#if frame-id-dehradun}}id="{{frame-id-dehradun}}"{{/if}}
                                        frameborder="0"
                                        src="{{{registerLinkDehradun}}}"></iframe>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        </div>
    {{/unless}}
{{/if}}
