<!--slider-->
<a id="slider" class="in-page-link"></a>
<section class="image-slider slider-all-controls controls-inside parallax pt0 pb0 height-70">
    <ul class="slides">
        {{#each slides}}
            <li class="overlay image-bg">
                <div class="background-image-holder">
                    <img alt="{{{imgAlt}}}" class="background-image" src="{{#relativePath @file.path imgSrc}}{{/relativePath}} ">
                </div>
                <div class="container v-align-transform">
                    <div class="row text-center">
                        <div class="col-md-10 col-md-offset-1">
                            <!--for custom html "customContent"-->
                            {{#unless customContent}}
                                <h2 class="mb-xs-16 all-caps">{{{heading}}}</h2>
                                <h4>{{{subHeading}}}</h4>
                                <p class="bold lead mb60">{{{content}}}</p>
                                <br/>
                                {{#each button}}
                                    {{#if filled}}
                                        <a class="btn btn-lg btn-filled"
                                           href="{{link}}"
                                           target="_blank">{{text}}</a>
                                    {{else}}
                                        <a class="btn btn-lg"
                                           href="{{link}}"
                                           {{#unless noNewTab}}target="_blank"{{/unless}}>{{text}}</a>
                                    {{/if}}
                                {{/each}}
                            {{else}}
                                {{{customContent}}}
                            {{/unless}}
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</section>
<!--endslider-->
