<!--slider-->
<a id="slider" class="in-page-link"></a>
<div class="a-cbm">
	<div class="container">
		<div class="slideshow-container" style="margin-top:3rem;" id="slider-container">
			{{#each slides}}
			<div class="slideshow-container__slide">
				<img src="{{#relativePath @file.path imgSrc}}{{/relativePath}} " class="w-100" alt="{{{imgAlt}}}">
				<div class="position-absolute bl w-100 px-80 pb-50 d-md-block d-none" style="z-index: 10;">
					<div class="row no-gutters justify-content-between align-items-end">
						<div class="flex-1">
							{{#unless customContent}}
							<div class="heading-5 bold white">{{{heading}}}</div>
							<div class="mt-10 white font-5 bold">{{{subHeading}}} <br /> {{{content}}}</div>
							<div class="mt-30">
								{{#each button}}
								{{#if filled}}
								<a class="button-primary mr-20 px-40 py-20 heading-6" href="{{link}}" target="_blank">{{text}}</a>
								{{else}}
								<a class="button-primary mr-20 px-40 py-20 heading-6" href="{{link}}" {{#unless
									noNewTab}}target="_blank" {{/unless}}>
									{{text}}
								</a>
								{{/if}}
								{{/each}}
							</div>
							{{else}}
							{{{customContent}}}
							{{/unless}}
						</div>
					</div>
				</div>
				<div class="p-25 t-align-c d-md-none d-block">
					{{#unless customContent}}
					<div class="heading-5 bold">{{{heading}}}</div>
					<div class="font-5 bold mt-10">{{{subHeading}}} <br /> {{{content}}}</div>
					<div class="mt-30">
						{{#each button}}
						{{#if filled}}
						<a class="button-primary mr-20 px-40 py-20 heading-6" href="{{link}}" target="_blank">{{text}}</a>
						{{else}}
						<a class="button-primary mr-20 px-40 py-20 heading-6" href="{{link}}" {{#unless noNewTab}}target="_blank"
							{{/unless}}>
							{{text}}
						</a>
						{{/if}}
						{{/each}}
					</div>
					{{else}}
					{{{customContent}}}
					{{/unless}}
				</div>
			</div>
			{{/each}}

			<div class="slideshow-container__navigation-dots" style="z-index: 20;">
				{{#each slides}}
				<span class="dot" onclick="currentSlide({{@index}})"></span>
				{{/each}}
			</div>

			<a class="slideshow-container__prev pulse" onclick="plusSlides(-1)">
				<span>&#10094;</span>
			</a>
			<a class="slideshow-container__next pulse" onclick="plusSlides(1)">
				<span>&#10095;</span>
			</a>
		</div>
	</div>
</div>
<!--endslider-->
