<!--slider-->
<a id="slider" class="in-page-link"></a>
<div class="banner-carousel-container px-25">
	<div class="banner-carousel" aria-label="Gallery">
		<ol class="banner-carousel__viewport">
			{{#each slides}}
			<li id="banner-carousel__slide{{math @index " +" 1}}" tabindex="0" class="banner-carousel__slide"
				style="background: url({{#relativePath @file.path imgSrc}}{{/relativePath}});">
				<div class="banner-carousel__snapper">
					<a href="#banner-carousel__slide{{math 5 " -" @index "+" 1}}" class="banner-carousel__prev">Go to last
						slide</a>
					<a href="#banner-carousel__slide{{math @index " +" 2}}" class="banner-carousel__next">Go to next slide</a>
				</div>
			</li>
			{{/each}}
		</ol>
		<div class="banner-carousel__navigation">
			<ol class="banner-carousel__navigation-list">
				{{#each slides}}
				<li class="banner-carousel__navigation-item">
					<a href="#banner-carousel__slide{{math @index " +" 1}}" class="banner-carousel__navigation-button">
						Go to slide {{@index}}
					</a>
				</li>
				{{/each}}
			</ol>
		</div>
	</div>
</div>
<!--endslider-->