<!--teammember-->
{{#if flip}}
    {{# if small }}
        <div class="flip-card team-card col-sm-4 col-md-2">
    {{else}}
        <div class="flip-card team-card col-sm-6 col-md-3">
    {{/if}}
    <div class="front">
        <div class="img-holder">
            <img alt="{{{imgAlt}}}" src="{{#relativePath @file.path imgSrc}}{{/relativePath}}">
        </div>
        <div class="title mb16">
            <h5 class="uppercase mb0 bold">{{{name}}}<br></h5>
            <span class="bold">{{{role}}}</span>
        </div>
    </div>
    <div class="back">
        <div class="title mb16">
            <div class="img-holder">
                <img alt="{{{imgAlt}}}" src="{{#relativePath @file.path imgSrc}}{{/relativePath}}">
            </div>
            <h5 class="uppercase mb0 bold">{{{name}}}<br></h5>
            <span class="bold">{{{role}}}</span>
        </div>
        <p class="mb0">
            {{{bio}}}
        </p>
    </div>
</div>
{{else}}
    {{# if small }}
    <div class="col-sm-4 col-md-2">
    {{else}}
    <div class="col-sm-6 col-md-3">
    {{/if}}
        <div class="image-tile outer-title text-center">
            <div class="img-holder">
                <img alt="{{{imgAlt}}}" src="{{#relativePath @file.path imgSrc}}{{/relativePath}}">
            </div>
            <div class="title mb16">
                <h5 class="uppercase mb0 bold">{{{name}}}<br></h5>
                <span class="bold">{{{role}}}</span>
            </div>
            <div class="my-3 row no-gutters align-items-center justify-content-center">
                {{#each highlights}}
                    <img src="{{link}}" style="width: 75px; margin: 0px 5px">
                {{/each}}
            </div>
            <p class="mb0">
                {{{bio}}}
            </p>
        </div>
    </div>
{{/if}}
<!--endteammember-->