<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <!--Meta-->
    {{#each metas}}
        {{#if name}}
            <meta name="{{{name}}}" content="{{{content}}}"/>
        {{else if property}}
            <meta property="{{{property}}}" content="{{{content}}}"/>
        {{/if}}
    {{/each}}
    <!--Meta End-->

    <!--head:html-->
    <!--endinject-->

</head>
<body>
    <!--navbar:html-->
    <!--endinject-->

    <!--map:html-->
    <!--endinject-->

    <!--footer:html-->
    <!--endinject-->

    <!--scripts:html-->
    <!--endinject-->
</body>
</html>
