<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <!--Meta-->
    {{#each metas}}
        {{#if name}}
            <meta name="{{{name}}}" content="{{{content}}}"/>
        {{else if property}}
            <meta property="{{{property}}}" content="{{{content}}}"/>
        {{/if}}
    {{/each}}
    <!--Meta End-->

    <!--include:head:html-->
    <!--endinject-->

</head>
<body>
<!--include:navbar:html-->
<!--endinject-->

{{> slider}}
{{> courses}}

<!--include:map:html-->
<!--endinject-->

<!--include:footer:html-->
<!--endinject-->

<!--include:scripts:html-->
<!--endinject-->
</body>
</html>
