<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!--Meta-->
    {{#each metas}}
            {{#if name}}
                <meta name="{{{name}}}" content="{{{content}}}"/>
            {{else if property}}
                <meta property="{{{property}}}" content="{{{content}}}"/>
            {{/if}}
    {{/each}}
    <!--Meta End-->

    <!-- Inject:HeadCSS-->
    <!--EndInject-->

</head>
<body>

</body>
</html>
